[user]
        name = rcisar
        email = rcisar@bloomberg.net
[credential]
        helper = store
[http "https://bbgithub.dev.bloomberg.com"]
        proxy = bproxy.tdmz1.bloomberg.com:80
        sslVerify = true
[https]
    proxy = bproxy.tdmz1.bloomberg.com:80
[http "https://github.com"]
        proxy = http://proxy.bloomberg.com:81
        sslCAinfo = ~/bb-cert/Bloomberg_LP_CORP_CLASS_1_ROOT_G2.pem
[url "https://github.com/"]
        insteadOf = github.com:
[url "https://github.com/"]
        insteadOf = git@github.com:
[url "https://github.com/"]
        insteadOf = ssh://git@github.com/
[alias]
        l = log --all --graph --decorate
        s = status
        c = commit -am
        p = push origin main:main
[init]
        defaultBranch = main
